@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>

<p>
    <a asp-action="CreateBrand" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form asp-action="DeleteBrand">
                    <a asp-action="EditBrand" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <input type="hidden" asp-for="@item.Id" name="id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

